

<!DOCTYPE html>
<!-- saved from url=(0046)/ -->
<html lang="en"
    class=" sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers sidebar_hide_overflow">
    <!-- class of 👆👆 {sidebar_hide_overflow} was given to Hide Page Overflow to prevent vertical scroll-->


<!-- <script src="//code.jivosite.com/widget/yA45gZBCKd" async></script> -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        .swal-icon--error {
            border-color: #f27474;
            -webkit-animation: animateErrorIcon .5s;
            animation: animateErrorIcon .5s
        }

        .swal-icon--error__x-mark {
            position: relative;
            display: block;
            -webkit-animation: animateXMark .5s;
            animation: animateXMark .5s
        }

        .swal-icon--error__line {
            position: absolute;
            height: 5px;
            width: 47px;
            background-color: #f27474;
            display: block;
            top: 37px;
            border-radius: 2px
        }

        .swal-icon--error__line--left {
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            left: 17px
        }

        .swal-icon--error__line--right {
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 16px
        }

        @-webkit-keyframes animateErrorIcon {
            0% {
                -webkit-transform: rotateX(100deg);
                transform: rotateX(100deg);
                opacity: 0
            }

            to {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                opacity: 1
            }
        }

        @keyframes animateErrorIcon {
            0% {
                -webkit-transform: rotateX(100deg);
                transform: rotateX(100deg);
                opacity: 0
            }

            to {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                opacity: 1
            }
        }

        @-webkit-keyframes animateXMark {
            0% {
                -webkit-transform: scale(.4);
                transform: scale(.4);
                margin-top: 26px;
                opacity: 0
            }

            50% {
                -webkit-transform: scale(.4);
                transform: scale(.4);
                margin-top: 26px;
                opacity: 0
            }

            80% {
                -webkit-transform: scale(1.15);
                transform: scale(1.15);
                margin-top: -6px
            }

            to {
                -webkit-transform: scale(1);
                transform: scale(1);
                margin-top: 0;
                opacity: 1
            }
        }

        @keyframes animateXMark {
            0% {
                -webkit-transform: scale(.4);
                transform: scale(.4);
                margin-top: 26px;
                opacity: 0
            }

            50% {
                -webkit-transform: scale(.4);
                transform: scale(.4);
                margin-top: 26px;
                opacity: 0
            }

            80% {
                -webkit-transform: scale(1.15);
                transform: scale(1.15);
                margin-top: -6px
            }

            to {
                -webkit-transform: scale(1);
                transform: scale(1);
                margin-top: 0;
                opacity: 1
            }
        }

        .swal-icon--warning {
            border-color: #f8bb86;
            -webkit-animation: pulseWarning .75s infinite alternate;
            animation: pulseWarning .75s infinite alternate
        }

        .swal-icon--warning__body {
            width: 5px;
            height: 47px;
            top: 10px;
            border-radius: 2px;
            margin-left: -2px
        }

        .swal-icon--warning__body,
        .swal-icon--warning__dot {
            position: absolute;
            left: 50%;
            background-color: #f8bb86
        }

        .swal-icon--warning__dot {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin-left: -4px;
            bottom: -11px
        }

        @-webkit-keyframes pulseWarning {
            0% {
                border-color: #f8d486
            }

            to {
                border-color: #f8bb86
            }
        }

        @keyframes pulseWarning {
            0% {
                border-color: #f8d486
            }

            to {
                border-color: #f8bb86
            }
        }

        .swal-icon--success {
            border-color: #a5dc86
        }

        .swal-icon--success:after,
        .swal-icon--success:before {
            content: "";
            border-radius: 50%;
            position: absolute;
            width: 60px;
            height: 120px;
            background: #fff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg)
        }

        .swal-icon--success:before {
            border-radius: 120px 0 0 120px;
            top: -7px;
            left: -33px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 60px 60px;
            transform-origin: 60px 60px
        }

        .swal-icon--success:after {
            border-radius: 0 120px 120px 0;
            top: -11px;
            left: 30px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 0 60px;
            transform-origin: 0 60px;
            -webkit-animation: rotatePlaceholder 4.25s ease-in;
            animation: rotatePlaceholder 4.25s ease-in
        }

        .swal-icon--success__ring {
            width: 80px;
            height: 80px;
            border: 4px solid hsla(98, 55%, 69%, .2);
            border-radius: 50%;
            box-sizing: content-box;
            position: absolute;
            left: -4px;
            top: -4px;
            z-index: 2
        }

        .swal-icon--success__hide-corners {
            width: 5px;
            height: 90px;
            background-color: #fff;
            padding: 1px;
            position: absolute;
            left: 28px;
            top: 8px;
            z-index: 1;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg)
        }

        .swal-icon--success__line {
            height: 5px;
            background-color: #a5dc86;
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 2
        }

        .swal-icon--success__line--tip {
            width: 25px;
            left: 14px;
            top: 46px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-animation: animateSuccessTip .75s;
            animation: animateSuccessTip .75s
        }

        .swal-icon--success__line--long {
            width: 47px;
            right: 8px;
            top: 38px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-animation: animateSuccessLong .75s;
            animation: animateSuccessLong .75s
        }

        @-webkit-keyframes rotatePlaceholder {
            0% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg)
            }

            5% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg)
            }

            12% {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg)
            }

            to {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg)
            }
        }

        @keyframes rotatePlaceholder {
            0% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg)
            }

            5% {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg)
            }

            12% {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg)
            }

            to {
                -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg)
            }
        }

        @-webkit-keyframes animateSuccessTip {
            0% {
                width: 0;
                left: 1px;
                top: 19px
            }

            54% {
                width: 0;
                left: 1px;
                top: 19px
            }

            70% {
                width: 50px;
                left: -8px;
                top: 37px
            }

            84% {
                width: 17px;
                left: 21px;
                top: 48px
            }

            to {
                width: 25px;
                left: 14px;
                top: 45px
            }
        }

        @keyframes animateSuccessTip {
            0% {
                width: 0;
                left: 1px;
                top: 19px
            }

            54% {
                width: 0;
                left: 1px;
                top: 19px
            }

            70% {
                width: 50px;
                left: -8px;
                top: 37px
            }

            84% {
                width: 17px;
                left: 21px;
                top: 48px
            }

            to {
                width: 25px;
                left: 14px;
                top: 45px
            }
        }

        @-webkit-keyframes animateSuccessLong {
            0% {
                width: 0;
                right: 46px;
                top: 54px
            }

            65% {
                width: 0;
                right: 46px;
                top: 54px
            }

            84% {
                width: 55px;
                right: 0;
                top: 35px
            }

            to {
                width: 47px;
                right: 8px;
                top: 38px
            }
        }

        @keyframes animateSuccessLong {
            0% {
                width: 0;
                right: 46px;
                top: 54px
            }

            65% {
                width: 0;
                right: 46px;
                top: 54px
            }

            84% {
                width: 55px;
                right: 0;
                top: 35px
            }

            to {
                width: 47px;
                right: 8px;
                top: 38px
            }
        }

        .swal-icon--info {
            border-color: #c9dae1
        }

        .swal-icon--info:before {
            width: 5px;
            height: 29px;
            bottom: 17px;
            border-radius: 2px;
            margin-left: -2px
        }

        .swal-icon--info:after,
        .swal-icon--info:before {
            content: "";
            position: absolute;
            left: 50%;
            background-color: #c9dae1
        }

        .swal-icon--info:after {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin-left: -3px;
            top: 19px
        }

        .swal-icon {
            width: 80px;
            height: 80px;
            border-width: 4px;
            border-style: solid;
            border-radius: 50%;
            padding: 0;
            position: relative;
            box-sizing: content-box;
            margin: 20px auto
        }

        .swal-icon:first-child {
            margin-top: 32px
        }

        .swal-icon--custom {
            width: auto;
            height: auto;
            max-width: 100%;
            border: none;
            border-radius: 0
        }

        .swal-icon img {
            max-width: 100%;
            max-height: 100%
        }

        .swal-title {
            color: rgba(0, 0, 0, .65);
            font-weight: 600;
            text-transform: none;
            position: relative;
            display: block;
            padding: 13px 16px;
            font-size: 27px;
            line-height: normal;
            text-align: center;
            margin-bottom: 0
        }

        .swal-title:first-child {
            margin-top: 26px
        }

        .swal-title:not(:first-child) {
            padding-bottom: 0
        }

        .swal-title:not(:last-child) {
            margin-bottom: 13px
        }

        .swal-text {
            font-size: 16px;
            position: relative;
            float: none;
            line-height: normal;
            vertical-align: top;
            text-align: left;
            display: inline-block;
            margin: 0;
            padding: 0 10px;
            font-weight: 400;
            color: rgba(0, 0, 0, .64);
            max-width: calc(100% - 20px);
            overflow-wrap: break-word;
            box-sizing: border-box
        }

        .swal-text:first-child {
            margin-top: 45px
        }

        .swal-text:last-child {
            margin-bottom: 45px
        }

        .swal-footer {
            text-align: right;
            padding-top: 13px;
            margin-top: 13px;
            padding: 13px 16px;
            border-radius: inherit;
            border-top-left-radius: 0;
            border-top-right-radius: 0
        }

        .swal-button-container {
            margin: 5px;
            display: inline-block;
            position: relative
        }

        .swal-button {
            background-color: #7cd1f9;
            color: #fff;
            border: none;
            box-shadow: none;
            border-radius: 5px;
            font-weight: 600;
            font-size: 14px;
            padding: 10px 24px;
            margin: 0;
            cursor: pointer
        }

        .swal-button:not([disabled]):hover {
            background-color: #78cbf2
        }

        .swal-button:active {
            background-color: #70bce0
        }

        .swal-button:focus {
            outline: none;
            box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(43, 114, 165, .29)
        }

        .swal-button[disabled] {
            opacity: .5;
            cursor: default
        }

        .swal-button::-moz-focus-inner {
            border: 0
        }

        .swal-button--cancel {
            color: #555;
            background-color: #efefef
        }

        .swal-button--cancel:not([disabled]):hover {
            background-color: #e8e8e8
        }

        .swal-button--cancel:active {
            background-color: #d7d7d7
        }

        .swal-button--cancel:focus {
            box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(116, 136, 150, .29)
        }

        .swal-button--danger {
            background-color: #e64942
        }

        .swal-button--danger:not([disabled]):hover {
            background-color: #df4740
        }

        .swal-button--danger:active {
            background-color: #cf423b
        }

        .swal-button--danger:focus {
            box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(165, 43, 43, .29)
        }

        .swal-content {
            padding: 0 20px;
            margin-top: 20px;
            font-size: medium
        }

        .swal-content:last-child {
            margin-bottom: 20px
        }

        .swal-content__input,
        .swal-content__textarea {
            -webkit-appearance: none;
            background-color: #fff;
            border: none;
            font-size: 14px;
            display: block;
            box-sizing: border-box;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, .14);
            padding: 10px 13px;
            border-radius: 2px;
            transition: border-color .2s
        }

        .swal-content__input:focus,
        .swal-content__textarea:focus {
            outline: none;
            border-color: #6db8ff
        }

        .swal-content__textarea {
            resize: vertical
        }

        .swal-button--loading {
            color: transparent
        }

        .swal-button--loading~.swal-button__loader {
            opacity: 1
        }

        .swal-button__loader {
            position: absolute;
            height: auto;
            width: 43px;
            z-index: 2;
            left: 50%;
            top: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            text-align: center;
            pointer-events: none;
            opacity: 0
        }

        .swal-button__loader div {
            display: inline-block;
            float: none;
            vertical-align: baseline;
            width: 9px;
            height: 9px;
            padding: 0;
            border: none;
            margin: 2px;
            opacity: .4;
            border-radius: 7px;
            background-color: hsla(0, 0%, 100%, .9);
            transition: background .2s;
            -webkit-animation: swal-loading-anim 1s infinite;
            animation: swal-loading-anim 1s infinite
        }

        .swal-button__loader div:nth-child(3n+2) {
            -webkit-animation-delay: .15s;
            animation-delay: .15s
        }

        .swal-button__loader div:nth-child(3n+3) {
            -webkit-animation-delay: .3s;
            animation-delay: .3s
        }

        @-webkit-keyframes swal-loading-anim {
            0% {
                opacity: .4
            }

            20% {
                opacity: .4
            }

            50% {
                opacity: 1
            }

            to {
                opacity: .4
            }
        }

        @keyframes swal-loading-anim {
            0% {
                opacity: .4
            }

            20% {
                opacity: .4
            }

            50% {
                opacity: 1
            }

            to {
                opacity: .4
            }
        }

        .swal-overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 0;
            overflow-y: auto;
            background-color: rgba(0, 0, 0, .4);
            z-index: 10000;
            pointer-events: none;
            opacity: 0;
            transition: opacity .3s
        }

        .swal-overlay:before {
            content: " ";
            display: inline-block;
            vertical-align: middle;
            height: 100%
        }

        .swal-overlay--show-modal {
            opacity: 1;
            pointer-events: auto
        }

        .swal-overlay--show-modal .swal-modal {
            opacity: 1;
            pointer-events: auto;
            box-sizing: border-box;
            -webkit-animation: showSweetAlert .3s;
            animation: showSweetAlert .3s;
            will-change: transform
        }

        .swal-modal {
            width: 478px;
            opacity: 0;
            pointer-events: none;
            background-color: #fff;
            text-align: center;
            border-radius: 5px;
            position: static;
            margin: 20px auto;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            z-index: 10001;
            transition: opacity .2s, -webkit-transform .3s;
            transition: transform .3s, opacity .2s;
            transition: transform .3s, opacity .2s, -webkit-transform .3s
        }

        @media (max-width:500px) {
            .swal-modal {
                width: calc(100% - 20px)
            }
        }

        @-webkit-keyframes showSweetAlert {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1)
            }

            1% {
                -webkit-transform: scale(.5);
                transform: scale(.5)
            }

            45% {
                -webkit-transform: scale(1.05);
                transform: scale(1.05)
            }

            80% {
                -webkit-transform: scale(.95);
                transform: scale(.95)
            }

            to {
                -webkit-transform: scale(1);
                transform: scale(1)
            }
        }

        @keyframes showSweetAlert {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1)
            }

            1% {
                -webkit-transform: scale(.5);
                transform: scale(.5)
            }

            45% {
                -webkit-transform: scale(1.05);
                transform: scale(1.05)
            }

            80% {
                -webkit-transform: scale(.95);
                transform: scale(.95)
            }

            to {
                -webkit-transform: scale(1);
                transform: scale(1)
            }
        }
    </style>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Metalink - Discover rate collection or Arts & NFTs</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="theme-style-mode" content="0"> <!-- 0 == light, 1 == dark -->
    <!--<base href="">--><!--<base href=".">-->
    <base href=".">
    <!-- Favicon -->
    <!-- CSS 
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
    <!-- CSS 
    ============================================ -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick.css">
    <link rel="stylesheet" href="/assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/vendor/nice-select.css">
    <link rel="stylesheet" href="/assets/css/plugins/feature.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/odometer.css">

    <!-- Style css -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    
    


</head>

<body class="active-light-mode" data-new-gr-c-s-check-loaded="14.1093.0" data-gr-ext-installed="">
    <header class="rn-header haeder-default header--sticky sticky">
        <div class="container">
            <div class="header-inner">
                <div class="header-left">
                    <!--<div class="logo-thumbnail logo-custom-css">
                    <a class="logo-light" href="explore"><img src="./mynfts_files/logo-white.png" alt="nft-logo"></a>
                    <a class="logo-dark" href="explore"><img src="./mynfts_files/logo-dark.png" alt="nft-logo"></a>
                </div>-->
                    <div class="mainmenu-wrapper">
                        <!--<nav id="sideNav" class="mainmenu-nav d-none d-xl-block">-->
                        <nav id="sideNav" class="mainmenu-nav d-xl">
                            <!-- Start Mainmanu Nav -->
                            <ul id="mainmenu_list" class="mainmenu mainmenu_list">
                                <li class="">
                                    <a href="/adminRoute">Dashboard</a>

                                </li>
                                <li class="">
                                    <a href="/allFunding">All Deposits</a>

                                </li>
                                
                                <li class="">
                                    <a href="/allWidthdrawals">all Widthdrawals</a>

                                </li>
                                
                                <li class="">
                                    <a href="allPlans">All system nfts</a>

                                </li>
                            
                               
                                <li class="">
                                    <a href="/logout">Log out</a>

                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
                <div class="header-right">
                    <div class="setting-option d-none d-lg-block">
                        <form action="/Adminsearch" class="search-form-wrapper" method="post">
                            <input style="border-radius:3px;" type="search" placeholder="Search" aria-label="Search"
                                name="searchTerm" required="" id="searchTerm" autocomplete="off">
                            <div class="search-icon">
                                <button type="submit"><i class="bi bi-search"></i></button>
                            </div>
                            <div id="output" style="background: transparent; color: red;"></div>
                        </form>
                    </div>

                    <div style="margin-left:10px;"><a style="color: grey; text-decoration: underline;"
                            href="#"><b>all Bids</b></a></div>
                    &nbsp;&nbsp;&nbsp;
                    <div style="margin-left:10px;"><a style="color: grey; text-decoration: underline;"
                        href="#"><b>all user nft</b></a></div>

                    <div style="margin-left: 10px;" class="setting-option mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger">
                            <button class="hamberger-button">
                                <i class="bi bi-list"></i>
                            </button>
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
    </header>
   
        
<script>
        
        // Mobile Side Nav Toggle
        const hambergerButton = document.querySelector(".hamberger-button");
        const mainmenuWrapper = document.querySelector(".mainmenu-wrapper");
        const html = document.querySelector(".sidebar_hide_overflow");
        
        hambergerButton.addEventListener('click', () => {
            mainmenuWrapper.classList.toggle('active')
        // Hide Page Overflow to prevent vertical scroll 👇👇
            html.classList.toggle('active')
        });
    </script>
    
    
    
    <!------------------------------------------->
    <!---------- Post Mobile Nav Style ---------->
    <!------------------------------------------->
    <style>
        /* @media (width >= 768px){ */
        @media screen and (max-width: 1200px){
        /*----------Hide Page Overflow to prevent vertical scroll------------*/
        .sidebar_hide_overflow{
            overflow-y: scroll;
        }
        .sidebar_hide_overflow.active{
            overflow-y: hidden;
        }
        /*---------------------------------------*/
        .mainmenu-wrapper{
            --height: 100vh;
            position: fixed;
            min-height: var(--height);
            background: #ffffff;
            box-shadow: -8px 5px 47px -10px rgba(0,0,0,0.47);
        -webkit-box-shadow: -8px 5px 47px -10px rgba(0,0,0,0.47);
        -moz-box-shadow: -8px 5px 47px -10px rgba(0,0,0,0.47);
            width: min(300px, 80%);
            left: -100vh;
            bottom: 0;
            top: 0;
            transition: all .3s ease-in;
            z-index: 99999999;
            display: flex;
        }
        .mainmenu-wrapper.active{
            left: 0;
        }
        #mainmenu_list li > a{
            text-decoration: none;
            color: #3d8bab;
            font-size: 1.8rem;
            height: 3rem;
            margin: 2rem 0;
            padding: 0;
        }
        
        #mainmenu_list{
            display: flex;
            flex-direction: column;
            height: var(--height);
            list-style: none;
            padding: 10rem 0 0 3rem;
            display: flex;
            margin: 0;
        }
        /*----------------- Moved hambeger to the right ----------------------*/
        @media screen and (max-width: 479px){
        .header-right{
            position: relative;
            right: -7rem;
        }
        }
        @media screen and (max-width: 388px){
        .header-right{
            right: -5rem;
        }
        }
        @media screen and (max-width: 351px){
        .header-right{
            right: -3rem;
        }
        @media screen and (max-width: 308px){
        .header-right{
            right: -1.5rem;
        }
        }
        /*--------------------------------------*/
    </style>
    <!--<div class="row">
    <div class="offset-md-2 col-md-4">
        Your won bids will appear here:
        <ul>
        </ul>
    </div>
</div>-->
    <!-- start page title area -->
    <!--<div class="rn-breadcrumb-inner ptb--30">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <h5 class="title text-center text-md-start">Explore</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-list">
                    <li class="item"><a href="">Home</a></li>
                    <li class="separator"><i class="feather-chevron-right"></i></li>
                    <li class="item current">Explore</li>
                </ul>
            </div>
        </div>
    </div>
</div>-->
    <!-- end page title area -->
    <!-- Start product area -->
<br>
<div>

    <div class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2 text-gray">Editing: Nft </h1>
  <div class="btn-toolbar mb-2 mb-md 0">
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"> </li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <!-- <b>Last Updated:</b> -->
      <b>NftId:</b> <b class="text-white"><%=plan._id%></b>
    </div>
  </div>

</div>


<form action="/edit-plan/<%=plan._id%>?_method=PUT" method="POST">   
  
  <div class="row form-group mb-4">
    <div class="col">
      <label for="text">Nft Name</label>
      <input type="text" class="form-control" id="name" name="name" value=" <%=plan.name%> " placeholder="PNft name"  required>
    </div>

    <div class="col">
      <label for="text">Nft description</label>
      <input type="text" class="form-control" id="description" name="description" value=" <%=plan.description%> " placeholder="description" required>
    </div>
  </div>


  <div class="row form-group mb-4">
    <div class="col">
      <label for="text">Nft Bids</label>
      <input type="text" class="form-control" id="bid" name="bid" value=" <%=plan.bid%> " placeholder="Nft Bids"  required>
    </div>

    <div class="col">
      <label for="text">Nft Price</label>
      <input type="text" class="form-control" id="price" name="price" value=" <%=plan.price%> " placeholder="price"  required>
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="text">Nft Category</label>
      <input type="text" class="form-control" id="bid" name="category" value=" <%=plan.category%> " placeholder="Nft category" readonly required>
    </div>

    <div class="col">
      <label for="text">User bid Amount</label>
      <input type="number" class="form-control" id="amount" name="amount" value=" <%=plan.amount%> " placeholder="price" readonly required>
    </div>
  </div>

  <div class="row form-group mb-4">

      <div class="col">
    <label for="number"> User bid status </label>
    <input type="text" class="form-control" id="bidStatus" name="bidStatus" value=" <%=plan.bidStatus%> " placeholder="Number" required>
  </div>

  <div class="col">
    <label for="text">Nft Status </label>
    <input type="text" class="form-control" id="status" name="status" value=" <%=plan.status%> " placeholder="Status" required>
  </div>

</div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Update Plan</button>

    <button type="button" class="btn btn-danger" data-bs-toggle="modal" id="deleteButton" data-bs-target="#deleteModal">Delete Plan</button>

  </div>

</form>



<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">You are about to remove an Nft record.</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          This will remove the width record of <b class="fw-bold"> <%=plan._id%> </b><br/>
          Are you sure?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/deletePlan/<%=plan._id%>?_method=DELETE" method="POST" class="position-relative">
          <button type="submit" class="btn btn-primary">Yes, Remove Plan</button>
        </form>
      </div>
    </div>
  </div>
</div>

                            

            <div class="copy-right-one ptb--20 bg-color--1" style="margin-top: 50px">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="copyright-left">
                                <span>© 2025 Metalink, . All rights reserved.</span>
                                <ul class="privacy">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Footer Area -->
                <!--<div class="mouse-cursor cursor-outer cursor-hover" style="visibility: visible; transform: translate(548px, 426px);"></div>-->
                <!--<div class="mouse-cursor cursor-inner cursor-hover" style="visibility: visible; transform: translate(548px, 426px);"></div>-->
                <!-- Start Top To Bottom Area  -->
                <div class="rn-progress-parent">
                    <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
                        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                            style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
<!-- End Top To Bottom Area  -->
    <!-- JS ============================================ -->
    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/assets/js/vendor/jquery-ui.js"></script>
    <script src="/assets/js/vendor/modernizer.min.js"></script>
    <script src="/assets/js/vendor/feather.min.js"></script>
    <script src="/assets/js/vendor/slick.min.js"></script>
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/vendor/sal.min.js"></script>
    <script src="/assets/js/vendor/particles.js"></script>
    <script src="/assets/js/vendor/jquery.style.swicher.js"></script>
    <script src="/assets/js/vendor/js.cookie.js"></script>
    <script src="/assets/js/vendor/count-down.js"></script>
    <script src="/assets/js/vendor/isotop.js"></script>
    <script src="/assets/js/vendor/imageloaded.js"></script>
    <script src="/assets/js/vendor/backtoTop.js"></script>
    <script src="/assets/js/vendor/odometer.js"></script>
    <script src="/assets/js/vendor/jquery-appear.js"></script>
    <script src="/assets/js/vendor/scrolltrigger.js"></script>
    <script src="/assets/js/vendor/jquery.custom-file-input.js"></script>
    <script src="/assets/js/vendor/savePopup.js"></script>
    <script src="/assets/js/vendor/vanilla.tilt.js"></script>

    <!-- main JS -->
    <script src="/assets/js/main.js"></script>


</body>

</html>